nav h2 a {
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: bold;
}

.book-brand img {
    display: block;
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

img.logo_home {
    display: block;
    height: 13em;
    margin: 0 auto 2em auto;
    border-radius: 5px;
}